.card-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.card-profile {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.card-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card-profile div h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-preset-2);
  line-height: 1.4;
  letter-spacing: 0.12px;
  color: var(--color-grey-900);
  display: block;
}

.card-profile div time {
  font-weight: var(--font-weight-medium);
  line-height: 1.4;
  letter-spacing: 0.12px;
  color: var(--color-grey-400);
}
