.card-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 4.5rem;
  padding: 0 var(--spacing-400) var(--spacing-200);
}

.card-profile {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.card-profile .card-avatar {
  border-radius: 50%;
  width: 2.5rem;
}

.card-post span {
  font-weight: var(--font-weight-bold);
  color: var(--color-grey-900);
  line-height: 1.4;
  letter-spacing: 0.12px;
  display: block;
}

.card-post time {
  font-weight: var(--font-weight-medium);
  color: var(--color-grey-400);
  line-height: var(1.4);
  letter-spacing: 0.12px;
}
