#button-share {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-200);
  color: var(--color-grey-500);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

#button-share:hover {
  transform: scale(1.1);
}

#button-share:focus-visible {
  outline: 2px solid var(--color-grey-500);
  outline-offset: 2px;
}

#button-share.active {
  background-color: var(--color-grey-500);
  color: var(--color-white);
}

#button-share.active:focus-visible {
  outline: 2px solid var(--color-white);
  outline-offset: 2px;
}
