.share-container {
  background-color: var(--color-grey-900);
  color: var(--color-grey-400);
  padding: 28px 30px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.share-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
}

.share-content h2 {
  font-weight: var(--font-weight-medium);
  font-size: var(--text-preset-2);
  line-height: 1.4;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.share-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-100);
}

.share-social-media a {
  text-decoration: none;
}

.share-social-media a img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-social-media a:hover {
  transform: scale(1.1);
}

.share-social-media a:focus-visible {
  outline: 2px solid var(--color-white);
  outline-offset: 3px;
  border-radius: 3px;
}
